
@{
    ViewBag.Title = "Index";
}
<div class="page animation-fade">
    <div class="page-content">
        <!--高级检索部分-->
        <div class="panel" id="panelSearch">
            <div class="panel-heading">
                <h3 class="panel-title">高级检索</h3>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary" onclick="adminList.search()">检索</button>&nbsp;&nbsp;
                <button class="btn btn-success" onclick="adminList.resetSearch()">重置</button>&nbsp;&nbsp;
                <button class="btn btn-danger" onclick="adminList.panelSearch()">关闭</button>
            </div>
        </div>
        <!--列表-->
        <div class="panel">
            <div class="panel-heading">
                <div class="col-sm-12 pl-25 pr-25 pt-15 pb-10">
                    <button type="button" class="btn btn-primary" onclick="window.location=window.location">
                        <i class="fa fa-rotate-right"></i>&nbsp;刷新
                    </button>
                    <button type="button" class="btn btn-primary" data-power="Search" name="search">
                        <i class="fa fa-search"></i>&nbsp;检索
                    </button>
                    <button type="button" class="btn btn-primary" data-power="Add" name="add">
                        <i class="fa fa-plus"></i>&nbsp;添加
                    </button>
                    <button type="button" class="btn btn-primary" data-power="Edit" name="edit">
                        <i class="fa fa-pencil"></i>&nbsp;修改
                    </button>
                    <button type="button" class="btn btn-primary" data-power="Delete" name="delete">
                        <i class="fa fa-trash"></i>&nbsp;删除
                    </button>
                    <a class="btn btn-primary" target="_blank" href="" data-power="GetExcel" name="getExcel">
                        <i class="fa fa-file-excel-o"></i>&nbsp;导出 Excel
                    </a>
                </div>
            </div>
            <div class="panel-body container-fluid pb-0">
                <!--表格-->
                <table class="table table-hover" id="roleTable"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();
        //用户
        //1.初始化用户Table
        var roleTablets = new roleTableInit();
        roleTablets.Init();
    });
    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};
        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };
        return oInit;
    };
    var roleTableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#roleTable').bootstrapTable({
                url: '/Role/GetRoleGrid',
                ajaxOptions: { async: true, timeout: 10000 },
                method: 'get',
                striped: false,
                toolbar: false,
                cache: false,
                pagination: true,
                sortable: false,
                sortOrder: "asc",
                queryParams: oTableInit.queryParams,
                sidePagination: "server",
                pageNumber: 1,
                pageSize: 10,
                pageList: [10, 25, 50, 100],
                strictSearch: true,
                showColumns: true,
                minimumCountColumns: 2,
                clickToSelect: true,
                height: "auto",
                uniqueId: "Id",
                cardView: false,
                detailView: false,
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'RoleName',
                        title: '角色名称'
                    },
                    {
                        field: 'Status',
                        title: '角色状态'
                    },
                    {
                        field: 'CreateUser',
                        title: '创建人'
                    },
                    {
                        field: 'CredateTime',
                        title: '创建时间',
                        formatter: function (value, row, index) {
                            return Common.DateFormat(value)
                        }
                    },
                    {
                        field: 'UpdateUser',
                        title: '最后人'
                    },
                    {
                        field: 'UpdateTime',
                        title: '最后更新时间',
                        formatter: function (value, row, index) {
                            return Common.DateFormat(value)
                        }
                    }
                ]
            });
        };
        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
            };
            return temp;
        };
        return oTableInit;
    };
</script>
